@import '../../../styles/variables.module.scss';

.nav {
	// height: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background: #F3F4F7;
	background-position: center;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .2);;

	&-logo{
		justify-self: flex-start;
	}


	&-items {
		// margin-top: 0;
		// padding: 0px;
		// list-style-type: none;
		display: flex;
		flex-direction: row;
	}
}
