.contact {

	&-body {

		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: space-around;
		background-color: white;
		padding: 3rem 4rem;

		font-size: 5rem;
		font-family: 'rancho';
		font-weight: bolder;
	}

	&-image {
		height: 300px;
		width: 500px;
		object-fit: cover;
		margin-top: 3rem;
		}
}